<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagenes con WebSocket</title>
</head>
<body>
    <h1>Imágenes</h1>
    <div>
        <% images.forEach(function(image){ %>
            <div id="cont-img">
                <p>Título: <%= image.title %></p>
                <p>Descripción: <%= image.description %></p>
                <img src=" <%= image.path %> " alt="" width="10%">    
            </div>    
        <% }) %>
    </div>
    <script src="socket.io/socket.io.js"></script>
    <script>
        console.log('socket');
        const socket = io();
        let division = document.getElementById('cont-img');
        socket.on('show',function(data){
            console.log('datos recibidos por el usuario')
            console.log(data);
            var img = data.img.substr(12,data.img.length);
            console.log("img: "+img); 
            division.innerHTML += `<p>Título: ${data.title}</p> 
            <p>Descripción: ${data.description}</p> 
            <img src=" /uploads/${img}" alt=""> `;
            
        });
    </script> 
</body>
</html>