<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir imagen</title>
</head>
<body>
    <h1>Subir imagen</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="title">Título</label>
        <input type="text" id="title" name="title">
        <br><br><br>
        <label for="description">Descripcion</label>
        <input type="text" id="description" name="description">
        <br><br><br>
        <input type="file" name="image" id="img">
        <button type="submit" id="btn">Subir</button>
    </form>
    <br>
    <form action="/images" method="get">
        <button type="submit">Ver las imágenes</button>
    </form>   
    <script src="socket.io/socket.io.js" charset="utf-8"></script>
    <script>
        const socket = io();
        let title = document.getElementById('title');
        let description = document.getElementById('description');
        let img = document.getElementById('img');
        let btn = document.getElementById('btn');
        btn.addEventListener('click',function(){
            socket.emit('upload',{
                title: title.value,
                description: description.value,
                img: img.value
            })
        });
    </script> 
</body>
</html>