<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Complete</title>
</head>
<body>
    <h1>Imagen subida con éxito</h1>
    <form action="/" method="get">
        <button type="submit">Subir otra foto</button>
    </form>
    <form action="/images" method="get">
        <button type="submit">Ver Imágenes</button>
    </form>
</body>
</html>